<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
  <h1>
    {{ .Header }}
  </h1>
  <p>
    {{ .Paragraph }}
  </p>
</body>
</html>
